/* Container for the form */
.form-container {
  width: 50%;
 /* Center the container */
  
}


.form-container input[type="text"]{ width: 80%;}
.form-container textarea,
.form-container select,


/* Add styling to the main element */
main {
  padding: 30px;
  max-width: 50%;
  margin: 40px auto;
  background-color: #f4f4f4;
  
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
 
h2 {
  text-align: center;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form styling */
form {
  display: flex;
  margin-right: 100px;
  margin-left: 20px;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: #34495e;
  margin-bottom: 5px;
  margin-top: 10px;
}

input[type="text"], textarea, select, input[type="file"] {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #bdc3c7;
  margin-bottom: 20px;
  margin-left: 20px;
  
  font-size: 16px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* Input field focus state */
input[type="text"]:focus, textarea:focus, select:focus {
  border-color: #3498db;
  outline: none;
  margin-right: 60px;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
}



/* Submit button styling */
button[type="submit"] {
  background-color: #4747d4;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #3f2bdc;
  transform: translateY(-2px);
 
}

/* Responsive design */
@media (max-width: 768px) {
  main {
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  button[type="submit"] {
    padding: 10px;
   
  }
}
